#Project 2 - Part 1 (Core)
Your second project is going to have a lot more freedom than your first project. This is because we want you to have a project in your portfolio that interests you or relates to the industry you would like to work in.

Your task for this week is to propose two possible datasets you would like to work with for Project 2.  

You will choose your first choice data set, and a backup data set in case the first proposed data set is not approved.  

This data can be from any source and can be on any topic with these limitations:

* the data must be available for use (it is your responsibility to ensure that the license states that you are able to use it.)
* the data must be appropriate for a professional environment
* the data must NOT contain personal information
the data must NOT be a dataset used for any assignment, lecture, or task from the course
* the data must NOT be a time series dataset.  You will be able to identify these because each row will represent a moment in time.  These kinds of datasets follow special rules and are not appropriate for the kind of machine learning you have learned in this stack.
Make sure you select a dataset that will be reasonable to work with in the amount of time we have left. Think about what questions you could reasonably answer with the dataset you select. 

You must propose two datasets that each have a supervised learning component. You may choose a regression or classification problem for each proposed data set.  

For this task:

Create a Colab notebook where you have uploaded and shown the .head() of each of your data sets.  For each of the proposed datasets, answer the following questions:

In [2]:
import pandas as pd 
import numpy as np

In [3]:
path = '/content/submit.csv'
fake_news_df = pd.read_csv(path)

fake_news_df.head()

      id  label
0  20800      0
1  20801      1
2  20802      0
3  20803      1
4  20804      1

In [5]:
fake_news_df.info()
fake_news_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   label   5200 non-null   int64
dtypes: int64(2)
memory usage: 81.4 KB

(5200, 2)

First choice: dataset 1

1) Source of data
My source for this data is from Kaggle https://www.kaggle.com/competitions/fake-news/overview 
2) Brief description of data
This data uses different to features to predict whether certain content is considered Fake news or not. 

3) What is the target?
target is label 0 would be reliable news 1 would be unreliable/ fake news 
4) Is this a classification or regression problem?
This is a classification provlem 

5) How many features?
2 features for the submit csv there is a seperate train file and test file as well. 
6) How many rows of data.
5200 rows 
7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
There are a seperate Train and Test csv files I've never dealt with multiple files in my analysis before.

Second choice: dataset 2

1) Source of data
This is a dataset found on Kaggle 
https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction

2) Brief description of data
Cardiovascular diseases (CVDs) are the number 1 cause of death globally, taking an estimated 17.9 million lives each year, which accounts for 31% of all deaths worldwide. Four out of 5CVD deaths are due to heart attacks and strokes, and one-third of these deaths occur prematurely in people under 70 years of age. Heart failure is a common event caused by CVDs and this dataset contains 11 features that can be used to predict a possible heart disease.

People with cardiovascular disease or who are at high cardiovascular risk (due to the presence of one or more risk factors such as hypertension, diabetes, hyperlipidaemia or already established disease) need early detection and management wherein a machine learning model can be of great help.

3) What is the target?
The Target will be thee column Heart Disease since that column has a 0 for neegative and 1 for positive. 

4) Is this a classification or regression problem?
Classifcation 
5) How many features?
11 features 
6) How many rows of data.
918 rows 
7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
The challenge I see for this dataset is that it is fairly small with less than a 1000 rows. Ideally more data would be better. 
Add your colab notebook to your Github and submit the link below.

In [8]:
path = '/content/heart.csv'
df = pd.read_csv(path)
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [9]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

(918, 12)